body{
background-color: rgb(209, 178, 234);
margin: 0;
padding: 0;
font-size: 16px;
box-sizing: border-box;
}
.header-container
{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 20px;
    margin-right: 2%;
    background-color: rgb(81, 142, 232);
    display: flex ;

}
.image{
    flex: row;
    position: relative;
    

}

.home-button
{

    width: 20%;
    height: 20%;
}
.title
{
    font-family: cursive;
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    align-items: right;
    color: rgb(233, 21, 113);

}

.nav-container
{
    width: 100%;
    height: 100%;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    
    

}
.menu1
{
    display:flex;
    flex-direction: row;
    width: 15%;
    height: 1%;
    align-items: right;
    
}
.menu2
{
    display:flex;
    flex-direction: row;
    width: 20%;
    height: 40%;
    align-items: right;
}
.button1
{ 
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    align-items: right;
}
.exitos-container
{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-family: cursive;
    
}
.historia
{
    display:flex;
    flex-direction: column;

}
.subtitulo
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
    color: rgb(31, 8, 234);

}
.contenido
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    
}
.video
{
    width:560px;
    margin:auto;
}
.exitos-container
{
    display:flex;
    flex-direction: column;

}



@media(min-width:1024px){
    .header-container{
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 2%;
    }
}
@media(min-width:768px){
    h1{
        font-size: 15rem;
    }
    .header-container
    {
        border: 2px solid rgb(12, 12, 156) ; 
    }


}
@media(min-width:480px){
    .video
    {
        width: 30%;
        height: 10%;
        border: 3px solid rgb(98, 13, 210) ; 
        flex-direction: row;
        position: relative;
        
    }
}
@media(max-width:480px){

    .exitos-container{
        font-size:larger; 
    }
    h3{
        font-family: cursive; color: rgb(21, 58, 242);
        font-size: xx-large;
    }

}   
      


@media(max-width480px){

    .images{
        row-gap: 50%;
        width: 80%;
        height: 10%;
        margin-left: 15%;
        position: relative;
        margin-top: right;
        flex-direction: row;
        
        

    }
} 



@media screen {
        .historia{
            margin-left: 2%;
            
        }
        .video{
            box-sizing: content-box;
            width: 20%;
            height: 10%;
            flex-direction: row;

        }
}
 
    
@media screen {
        .exitos-container{
            margin-left: 2%;
            
        }
        
}

@media(min-width:480px){
    .video
    {
        width: 100%;
        height: 10%;
        border: 3px solid rgb(4, 4, 4) ; 
        flex-direction: row;
        position: relative;
        
        
    }
}
@media(min-width:1024){

    .header-container{
        display:flex;
        flex-direction: row;
    }
}
.delimitador
{

    width:560px;
    margin:auto;
}
.contenedor
{
    height:0px;
    width:100%;
    max-width:560px; /* Así establecemos el ancho máximo (si lo queremos) */
    padding-top:56.25%; /* Relación: 16/9 = 56.25% */
    position:relative;
}

iframe
{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}




   
